# AS7 - ADPMP - CONSULTAS OLAP USANDO SPARK SQL

Questão 1:

Considerando a constelação de fatos da BI Solutions, qual a ordem de processamento lógico da seguinte consulta?

SELECT dataMes, SUM(quantidadeLancamentos) <br>
FROM data, pagamento <br>
WHERE data.dataPK = pagamento.dataPK AND dataAno = 2020 <br>
GROUP BY dataMes <br>
HAVING SUM(quantidadeLancamentos) > 5 <br>

a.FROM - SELECT - WHERE - GROUP BY - HAVING <br>
<font color='red'>b.FROM - WHERE - GROUP BY - HAVING - SELECT </font><br>
c.FROM - GROUP BY - HAVING - WHERE - SELECT <br>
d.SELECT - FROM - GROUP BY - HAVING - WHERE <br>
e.SELECT - FROM - WHERE - GROUP BY - HAVING <br>

Processamento Lógico de uma Consulta:<br>
(usado para otimização da consulta)<br>
1-FROM 2-WHERE 3-GROUP BY 4-HAVING 5-SELECT 6-ORDER BY

Questão 2:

Assinale a alternativa **correta** acerca das cláusulas [INNER] JOIN e FULL [OUTER] JOIN, considerando que essas cláusulas são aplicadas às relações R e S.

a.A cláusula [INNER] JOIN mantém todas as tuplas de R e S mesmo sem correspondência, enquanto que FULL [OUTER] JOIN mantém somente as tuplas de R e S que têm correspondência. <br>
b.A cláusula [INNER] JOIN mantém somente as tuplas de R e S que têm correspondência, enquanto que FULL [OUTER] JOIN mantém apenas as tuplas de R. <br>
c.A cláusula [INNER] JOIN mantém somente as tuplas de R, enquanto que FULL [OUTER] JOIN mantém apenas as tuplas de S. <br>
d.A cláusula [INNER] JOIN mantém somente as tuplas de R, enquanto que FULL [OUTER] JOIN mantém todas as tuplas de R e S mesmo sem correspondência. <br>
<font color='red'>e.A cláusula [INNER] JOIN mantém somente as tuplas de R e S que têm correspondência, enquanto que FULL [OUTER] JOIN mantém todas as tuplas de R e S mesmo sem correspondência. </font><br>

Questão 3:

Considere as seguintes afirmações acerca da linguagem SQL:

I. A linguagem SQL é amplamente utilizada por sua simplicidade, facilidade de utilização e grande poder de consulta. <br>
II. A especificação de duas relações na cláusula FROM sem a especificação de uma condição de junção referente a essas duas relações gera um produto cartesiano das relações. <br>
III. É possível especificar várias condições de seleção na cláusula ORDER BY usando os operadores lógicos booleanos AND e/ou OR, sendo que essas condições devem ser referentes a atributos presentes nas relações especificadas na cláusula FROM. <br>
IV. A cláusula ORDER BY ordena os dados exibidos como resposta à consulta. <br>

Assinale a **alternativa** que contém as afirmações corretas.

a.III e IV <br>
b.II e IV <br>
<font color='red'>c.I, II e IV </font><br>
d.II, III e IV <br>
e.I e II <br>

I-OK  <br>
II-OK  Relações (tabelas) na cláusula FROM gerarão um produto cartesiano das relações. A especificação de junção das tuplas (linhas) é dada pela cláusula JOIN que ditará as tuplas que serão mantidas após a junção. <br>
III-NOK  Os operadores lógicos booleanos AND/OR não são usados na ordenação de tuplas com o operador ORDER BT.  <br>   
IV-OK  ORDER BY ordena as tuplas que aparecem no resultado da consulta (asc (padrão): ordem ascendente, desc: ordem descendente). A ordenação pode ser especificada em vários atributos, sendo que a referente ao primeiro atributo é prioritária, e se houver valores repetidos para o primeiro atributo, então é utilizada a ordenação referente ao segundo atributo e assim por diante. <br>

Questão 4:

Considerando a constelação de fatos da BI Solutions, assinale a **alternativa** que corresponde à consulta SQL para: “Qual a quantidade de funcionários que tiveram salários lançados em outubro de 2020, por sexo? Ordene o resultado final pela quantidade de lançamentos”

a.SELECT SUM(quantidadeLancamentos) <br>
FROM funcionario JOIN pagamento ON funcionario.funcPK = pagamento.funcPK <br>
JOIN data ON data.dataPK = pagamento.dataPK <br>
WHERE dataMes = 10 AND dataAno = 2020 <br>
GROUP BY funcSexo <br>
ORDER BY SUM(quantidadeLancamentos) <br>

<font color='red'>b.SELECT funcSexo, SUM(quantidadeLancamentos) <br>
FROM funcionario JOIN pagamento ON funcionario.funcPK = pagamento.funcPK <br>
JOIN data ON data.dataPK = pagamento.dataPK <br>
WHERE dataMes = 10 AND dataAno = 2020 <br>
GROUP BY funcSexo <br>
ORDER BY SUM(quantidadeLancamentos) </font> <br>

c.SELECT funcSexo, SUM(quantidadeLancamentos) <br>
FROM funcionario JOIN pagamento JOIN data <br>
WHERE dataMes = 10 AND dataAno = 2020 <br>
GROUP BY funcSexo <br>
ORDER BY SUM(quantidadeLancamentos) <br>

d.SELECT funcSexo, SUM(quantidadeLancamentos) <br>
FROM funcionario JOIN pagamento ON funcionario.funcPK = pagamento.funcPK <br>
JOIN data ON data.dataPK = pagamento.dataPK <br>
WHERE dataMes = 10 AND dataAno = 2020 <br>
GROUP BY funcSexo <br>
ORDER BY funcSexo <br>

e.SELECT funcSexo, SUM(quantidadeLancamentos) <br>
FROM funcionario JOIN pagamento ON funcionario.funcPK = pagamento.funcPK <br>
JOIN data ON data.dataPK = pagamento.dataPK <br>
WHERE dataMes = 10 AND dataAno = 2020 <br>
ORDER BY SUM(quantidadeLancamentos)  <br>

Ver resultado no notebook da Lista de Exercícios

Questão 5:

Considerando a constelação de fatos da BI Solutions, assinale a **alternativa** que corresponde à consulta SQL para: “Qual a média de salários no ano de 2020, considerando cada cargo e seus respectivos níveis? Ordene o resultado final pela média de salários, da maior média para a menor média.”

a.SELECT cargoNome, cargoNivel, AVG(salario) <br>
FROM cargo JOIN pagamento ON cargo.cargoPK = pagamento.cargoPK <br>
JOIN data ON data.dataPK = pagamento.dataPK <br>
GROUP BY cargoNome, cargoNivel <br>
ORDER BY AVG(salario) <br>

<font color='red'>b.SELECT cargoNome, cargoNivel, AVG(salario) <br>
FROM cargo JOIN pagamento ON cargo.cargoPK = pagamento.cargoPK <br>
JOIN data ON data.dataPK = pagamento.dataPK <br>
WHERE dataAno = 2020 <br>
GROUP BY cargoNome, cargoNivel <br>
ORDER BY AVG(salario) DESC </font><br>

c.SELECT cargoNome, cargoNivel, AVG(salario) <br>
FROM cargo JOIN pagamento ON cargo.cargoPK = pagamento.cargoPK <br>
JOIN data ON data.dataPK = pagamento.dataPK <br>
WHERE dataAno = 2020 AND cargoNivel = ’SENIOR’ <br>
GROUP BY cargoNome, cargoNivel <br>
ORDER BY AVG(salario) DESC <br>

d.SELECT cargoNome, cargoNivel, AVG(salario) <br>
FROM cargo JOIN pagamento ON cargo.cargoPK = pagamento.cargoPK <br>
WHERE dataAno = 2020 <br>
GROUP BY cargoNome, cargoNivel <br>
ORDER BY AVG(salario) DESC <br>

e.SELECT cargoNome, AVG(salario) <br>
FROM cargo JOIN pagamento ON cargo.cargoPK = pagamento.cargoPK <br>
JOIN data ON data.dataPK = pagamento.dataPK <br>
WHERE dataAno = 2020 <br>
GROUP BY cargoNome <br>
ORDER BY AVG(salario) <br>

Ver resultado no notebook da Lista de Exercícios